body{
    padding: 0px;
}

#title {
    margin: 0px auto;
    width: 800px;
}

#title > img {
    width: 100%;
    padding: 0px;
    display: block
}

#triple-image {
    margin: 0 auto;
    height: 250px;
    width: 800px;
    background-color: gray;
}

#triple-image > img {
    margin: 20px 30px;
    padding: 0px;
    width: 22%;
    display: inline;
    border-radius: 100%;
    border:rgb(90, 90, 90) 10px solid;
}